##家族名人列表
#parse("admin/navigation-head.vm")
<div class="portlet box green-haze users-list">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-globe"></i>家族名人列表
		</div>
		<div class="tools">
			<a href="javascript:;" onclick="familyCelebrity.reload()" class="reload"> </a>
		</div>
	</div>
	<div class="portlet-body">
		<div class="table-toolbar">
			<div class="row">
				<div class="col-md-6">
					<div class="btn-group">
						<button class="btn green" onclick="familyCelebrity.edit()">
							编辑<i class="fa fa-plus"></i>
							
						</button>
					</div>
				</div>
				<div class="col-md-6"></div>
			</div>
			<div class="row">
				<div class="col-md-6">&nbsp;</div>
			</div>
			<table class="table table-striped table-bordered table-hover" id="familyCelebrityTable">
		<thead>
			<tr role="row">
				<th class="numeric">
    				 家族名人编号
    			</th>
    			<th class="numeric">
    				 家族名人名称
    			</th>
    			<th class="numeric">
    				 家族名人头像
    			</th>
    			<th class="numeric">
    				 家族名人简介
    			</th>
    			
    			<th class="numeric">
    				最后修改时间
    			</th>
     			<th class="numeric"> 
     				首页展示 
     			</th> 
    			<th class="numeric">
    				查看
    			</th>
    			<th class="numeric">
    				删除
    			</th>
    		</tr>
		</thead>
		</table>
		</div>
		
	</div>
</div>

##编辑器
<div class="add-UEditor-familyCelebrity-list" >
##parse("admin/menus/set/familyCelebrity/familyCelebrity-add.vm")
</div>	
